DB_USERNAME=postgres
DB_PASSWORD=your_database_password
MAIL_USERNAME=your_email@example.com
MAIL_PASSWORD=your_mail_app_password
MAIL_CONNECTION_TIMEOUT=5000
MAIL_READ_TIMEOUT=5000
MAIL_WRITE_TIMEOUT=5000
